/* Github */

.ui.github.button {
  background-color: #555555;
  color: #ffffff;
  text-shadow: none;
  background-image: none;
  box-shadow: 0px 0em 0px 0px rgba(39, 41, 43, 0.15) inset;
}

.ui.github.button:hover {
  background-color: #666666;
  color: #ffffff;
  text-shadow: none;
}

i.icon.github:before {
  content: "\f09b";
}

/* Flickr */

.ui.flickr.button {
  background-color: #6D9654;
  color: #ffffff;
  text-shadow: none;
  background-image: none;
  box-shadow: 0px 0em 0px 0px rgba(39, 41, 43, 0.15) inset;
}

.ui.flickr.button:hover {
  background-color: #90B47B;
  color: #ffffff;
  text-shadow: none;
}

i.icon.flickr:before {
  content: "\f16e";
}

/* Dropbox */

.ui.dropbox.button {
  background-color: #BF5252;
  color: #ffffff;
  text-shadow: none;
  background-image: none;
  box-shadow: 0px 0em 0px 0px rgba(39, 41, 43, 0.15) inset;
}

.ui.dropbox.button:hover {
  background-color: #E88989;
  color: #ffffff;
  text-shadow: none;
}


i.icon.dropbox:before {
  content: "\f16b";
}

/* Yahoo */

.ui.yahoo.button {
  background-color: #2D1152;
  color: #ffffff;
  text-shadow: none;
  background-image: none;
  box-shadow: 0px 0em 0px 0px rgba(39, 41, 43, 0.15) inset;
}

.ui.yahoo.button:hover {
  background-color: #46286E;
  color: #ffffff;
  text-shadow: none;
}

i.icon.yahoo:before {
  content: "\f19e";
}


/* Foursquare */

.ui.foursquare.button {
  background-color: #0732a2;
  color: #ffffff;
  text-shadow: none;
  background-image: none;
  box-shadow: 0px 0em 0px 0px rgba(39, 41, 43, 0.15) inset;
}

.ui.foursquare.button:hover {
  background-color: #0C46D8;
  color: #ffffff;
  text-shadow: none;
}

i.icon.foursquare:before {
  content: "\f180";
}

/* Elements */

body{
  background: #ddd;
}

.container{
  margin: 0 auto;
  padding: 30px 40px;
  background: #fff;
  border-radius: 1em;
}

.vertical-center{
  min-height: 100%;
  min-height: 100vh; 
  display: flex;
  align-items: center;
}

.centered{
  display: table;
  margin: 0 auto !important;
}

h1.ui.header{
  margin-bottom: 5px;
}

.subtitle{
  margin-top: 10px;
  color: #aaa;
}

.return-box{
  width: 450px;
}

.greetings{
  margin-bottom: 15px !important;
}

/* Typography */

.ui.header, .ui.divider, .login-box, .ui.button, .return-box{
  font-family: 'Roboto Slab', sans-serif;
}

.text-center{
  text-align: center;
}